openapi: 3.1.0
info:
  title: rosie-api
  version: 1.0.0
  summary: The execution and observability API behind the rosie widget and the rosie admin console.
  description: |
    The execution and observability API behind the rosie widget and the rosie
    admin console. rosie-api powers both the floating rosie widget (embedded in
    a11oy / amaru / sentra / vessels) and the standalone rosie-operator-console
    Gradio Space.

    Framing: rosie commands a11oy, which enforces; a11oy delegates to amaru and
    sentra; vessels carries the load.

    It exposes three capability classes:
      * read queries (receipts, mesh health, doctrine sweep, live formulas)
      * a question/answer surface (`/v1/ask`) that records an audit receipt
      * a two-phase, human-confirmed execution surface (`/v1/execute` then
        `/v1/execute/confirm`)

    All write paths emit DSSE receipts via a11oy's receipt substrate. The
    canonical DSSE v1 PAE is used for all signatures:
    `"DSSEv1" SP LEN(type) SP type SP LEN(body) SP body`
    (see PhD Crypto verdict finding A1).
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: SZL Holdings Engineering
    url: https://docs.szlholdings.com

servers:
  - url: https://rosie-api.szlholdings.com
    description: UDS Core production gateway

tags:
  - name: health
    description: Liveness and version.
  - name: ask
    description: Question/answer surface with audit receipts.
  - name: execute
    description: Two-phase, human-confirmed execution.
  - name: receipts
    description: Receipt read, stream, and verification.
  - name: mesh
    description: Cross-module mesh health.
  - name: console
    description: Endpoints that back the Gradio operator console tabs.

security:
  - oidcBearer: []

paths:
  /v1/health:
    get:
      tags: [health]
      summary: Liveness, version, commit SHA, uptime.
      operationId: getHealth
      security: []
      responses:
        "200":
          description: Service is live.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"

  /v1/ask:
    post:
      tags: [ask]
      summary: Ask a question; records an audit receipt of question + answer.
      operationId: postAsk
      security:
        - oidcBearer: [szl-operators]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AskRequest"
      responses:
        "200":
          description: Answer with citations and the recorded receipt id.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AskResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/Unprocessable"

  /v1/execute:
    post:
      tags: [execute]
      summary: Propose an execution; returns a signed, human-confirmable receipt.
      description: |
        Returns a *proposed* receipt. No side effect occurs until the proposal
        is confirmed via `POST /v1/execute/confirm` with the receipt id and an
        idempotency key. The proposal expires 5 minutes after creation.
      operationId: postExecute
      security:
        - oidcBearer: [szl-executors]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecuteRequest"
      responses:
        "200":
          description: |
            A proposed (not yet executed) receipt. The DSSE envelope is returned
            alongside the decoded proposal fields the client needs to confirm.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecuteProposalResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/Unprocessable"

  /v1/execute/confirm:
    post:
      tags: [execute]
      summary: Confirm a proposed execution (irreversible).
      description: |
        Requires a step-up re-auth: the JWT must carry a `step_up_completed_at`
        claim less than 5 minutes old. The execution is irreversible after this
        call. Both the proposal and the confirmation are recorded as separate
        receipt-chain entries.
      operationId: postExecuteConfirm
      security:
        - oidcBearer: [szl-executors]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmRequest"
      responses:
        "200":
          description: Execution result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfirmResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Step-up re-auth missing or stale (problem+json).
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "410":
          description: The proposal expired (problem+json).
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "422":
          $ref: "#/components/responses/Unprocessable"

  /v1/receipts:
    get:
      tags: [receipts]
      summary: List receipts (paginated).
      operationId: listReceipts
      security:
        - oidcBearer: [szl-operators]
      parameters:
        - name: app
          in: query
          schema:
            $ref: "#/components/schemas/AppName"
        - name: since
          in: query
          description: ISO-8601 lower bound on receipt chain timestamp.
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          description: Opaque pagination cursor from a previous response.
          schema:
            type: string
      responses:
        "200":
          description: A page of receipts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceiptPage"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/receipts/{id}:
    get:
      tags: [receipts]
      summary: Fetch a single receipt with full DSSE envelope and chain pointers.
      operationId: getReceipt
      security:
        - oidcBearer: [szl-operators]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The receipt.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Receipt"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/receipts/stream:
    get:
      tags: [receipts]
      summary: Server-Sent Events stream of receipts.
      description: |
        text/event-stream. Each receipt is delivered as `event: receipt` with a
        JSON `data:` line. A `:heartbeat` comment is sent every 30 seconds to
        keep the connection alive through proxies.
      operationId: streamReceipts
      security:
        - oidcBearer: [szl-operators]
      parameters:
        - name: app
          in: query
          schema:
            $ref: "#/components/schemas/AppName"
      responses:
        "200":
          description: An event stream of receipts.
          content:
            text/event-stream:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/receipts/verify:
    post:
      tags: [receipts]
      summary: Verify a receipt's DSSE signature and chain integrity.
      description: |
        The same verification logic the Gradio "Receipt Verifier" tab uses.
        Recomputes the canonical DSSE v1 PAE and checks the Ed25519 signature
        plus chain pointers.
      operationId: verifyReceipt
      security:
        - oidcBearer: [szl-operators]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Receipt"
      responses:
        "200":
          description: The verification verdict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Verdict"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/Unprocessable"

  /v1/mesh/health:
    get:
      tags: [mesh]
      summary: Per-module mesh health.
      description: Aggregates from a11oy, szl-receipts-server, and sentra.
      operationId: getMeshHealth
      security:
        - oidcBearer: [szl-operators]
      responses:
        "200":
          description: Health of each module.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeshHealthReport"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/doctrine/sweep:
    get:
      tags: [console]
      summary: Run the doctrine v7 sweep checker.
      description: Backs the Gradio "Doctrine Sweep" tab.
      operationId: getDoctrineSweep
      security:
        - oidcBearer: [szl-operators]
      responses:
        "200":
          description: Doctrine sweep result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DoctrineSweep"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/formulas/live:
    get:
      tags: [console]
      summary: Live formula moat status.
      description: |
        Backs the Gradio "Live Formulas" tab. Reflects formula gate status from
        a11oy/packages/policy/src/gates/.
      operationId: getLiveFormulas
      security:
        - oidcBearer: [szl-operators]
      responses:
        "200":
          description: Live formula status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LiveFormulas"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/about:
    get:
      tags: [console]
      summary: about-rosie metadata.
      operationId: getAbout
      security:
        - oidcBearer: [szl-operators]
      responses:
        "200":
          description: About metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/About"
        "401":
          $ref: "#/components/responses/Unauthorized"

components:
  securitySchemes:
    oidcBearer:
      type: openIdConnect
      description: |
        OIDC Bearer (Keycloak via UDS authservice), same realm as
        szl-receipts-server. The JWT must carry:
          * `sub`   — subject (operator or agent identity)
          * `aud`   — must equal `rosie-api`
          * `groups` — must include `szl-operators` for read endpoints and
                       `szl-executors` for `/v1/execute*`
        `/v1/execute/confirm` additionally requires a `step_up_completed_at`
        claim (ISO-8601 or epoch seconds) less than 5 minutes old.
      openIdConnectUrl: https://sso.szlholdings.com/realms/szl/.well-known/openid-configuration

  responses:
    Unauthorized:
      description: Missing or invalid bearer token (problem+json).
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Forbidden:
      description: Authenticated but lacking the required group (problem+json).
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    NotFound:
      description: Resource not found (problem+json).
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Unprocessable:
      description: Request body failed validation (problem+json).
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

  schemas:
    AppName:
      type: string
      enum: [a11oy, amaru, sentra, vessels, rosie]

    Health:
      type: object
      required: [status, version, commit, uptime_s]
      properties:
        status:
          type: string
          enum: [ok]
        version:
          type: string
          examples: ["1.0.0"]
        commit:
          type: string
          description: Git commit SHA the service was built from.
        uptime_s:
          type: number
          description: Process uptime in seconds.

    AskRequest:
      type: object
      required: [app, question]
      properties:
        app:
          $ref: "#/components/schemas/AppName"
        question:
          type: string
          minLength: 1
        conversation_id:
          type: string

    Citation:
      type: object
      required: [source, url]
      properties:
        source:
          type: string
        url:
          type: string
          format: uri
        snippet:
          type: string

    AskResponse:
      type: object
      required: [answer, citations, conversation_id, receipt_id]
      properties:
        answer:
          type: string
        citations:
          type: array
          items:
            $ref: "#/components/schemas/Citation"
        conversation_id:
          type: string
        receipt_id:
          type: string

    ExecuteRequest:
      type: object
      required: [app, action, params, dry_run]
      properties:
        app:
          $ref: "#/components/schemas/AppName"
        action:
          type: string
        params:
          type: object
          additionalProperties: true
        dry_run:
          type: boolean

    ConfirmRequest:
      type: object
      required: [receipt_id, idempotency_key]
      properties:
        receipt_id:
          type: string
        idempotency_key:
          type: string
          minLength: 8

    ConfirmResponse:
      type: object
      required: [status, result]
      properties:
        status:
          type: string
          enum: [executed, failed, already_executed]
        result:
          type: object
          additionalProperties: true

    ExecuteProposalResponse:
      type: object
      description: |
        The proposed receipt (DSSE envelope) plus the decoded proposal fields
        a client needs to confirm: receipt_id, requires_confirm, expires_at.
      allOf:
        - $ref: "#/components/schemas/Receipt"
        - type: object
          required: [receipt_id, requires_confirm, expires_at, proposal]
          properties:
            receipt_id:
              type: string
            requires_confirm:
              type: boolean
              const: true
            expires_at:
              type: string
              format: date-time
            proposal:
              $ref: "#/components/schemas/ExecuteProposal"

    ExecuteProposal:
      type: object
      description: The DSSE payload body for a proposed execution.
      required: [action, target, params, proposer, requires_confirm, expires_at]
      properties:
        action:
          type: string
        target:
          type: object
          required: [module, endpoint]
          properties:
            module:
              $ref: "#/components/schemas/AppName"
            endpoint:
              type: string
        params:
          type: object
          additionalProperties: true
        proposer:
          type: string
          description: The human or agent subject (`sub`) that proposed the action.
        requires_confirm:
          type: boolean
          const: true
        expires_at:
          type: string
          format: date-time
          description: ISO-8601, 5 minutes from creation.

    DsseSignature:
      type: object
      required: [keyid, sig, alg]
      properties:
        keyid:
          type: string
        sig:
          type: string
          description: base64url-encoded signature over the canonical DSSE v1 PAE.
        alg:
          type: string
          enum: [ed25519]

    ChainPointer:
      type: object
      required: [prev_hash, index, ts]
      properties:
        prev_hash:
          type: string
          description: SHA-256 of the previous receipt line, or "GENESIS".
        index:
          type: integer
          minimum: 0
        ts:
          type: string
          format: date-time

    Receipt:
      type: object
      description: |
        Full DSSE envelope plus SZL chain metadata. Cross-references
        @szl-holdings/a11oy-receipt-substrate types.
      required: [payload, payloadType, signatures, chain]
      properties:
        payload:
          type: string
          description: base64 of the canonical-JSON receipt body.
        payloadType:
          type: string
          examples: ["application/vnd.szl.receipt.v1+json"]
        signatures:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/DsseSignature"
        chain:
          $ref: "#/components/schemas/ChainPointer"

    ReceiptPage:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Receipt"
        next_cursor:
          type: [string, "null"]

    Verdict:
      type: object
      required: [verified, errors]
      properties:
        verified:
          type: boolean
        errors:
          type: array
          items:
            type: string

    ModuleHealth:
      type: object
      required: [name, namespace, status, last_receipt, signing_key_id, replicas]
      properties:
        name:
          type: string
        namespace:
          type: string
        status:
          type: string
          enum: [healthy, degraded, down, unknown]
        last_receipt:
          type: [string, "null"]
          format: date-time
        signing_key_id:
          type: string
        replicas:
          type: object
          required: [desired, ready]
          properties:
            desired:
              type: integer
            ready:
              type: integer

    MeshHealthReport:
      type: object
      required: [modules, generated_at]
      properties:
        generated_at:
          type: string
          format: date-time
        modules:
          type: array
          items:
            $ref: "#/components/schemas/ModuleHealth"

    DoctrineViolation:
      type: object
      required: [term, line, column]
      properties:
        term:
          type: string
        line:
          type: integer
        column:
          type: integer

    DoctrineSweep:
      type: object
      required: [doctrine_version, clean, violations]
      properties:
        doctrine_version:
          type: string
          examples: ["v7"]
        clean:
          type: boolean
        violations:
          type: array
          items:
            $ref: "#/components/schemas/DoctrineViolation"

    Formula:
      type: object
      required: [id, gate, status]
      properties:
        id:
          type: string
        gate:
          type: string
        status:
          type: string
          enum: [active, advisory, disabled]
        lean_ref:
          type: string

    LiveFormulas:
      type: object
      required: [formulas, generated_at]
      properties:
        generated_at:
          type: string
          format: date-time
        formulas:
          type: array
          items:
            $ref: "#/components/schemas/Formula"

    About:
      type: object
      required: [name, version, surfaces, doctrine_version]
      properties:
        name:
          type: string
        version:
          type: string
        surfaces:
          type: array
          items:
            type: string
        doctrine_version:
          type: string
        repository:
          type: string
          format: uri

    Problem:
      type: object
      description: RFC 7807 problem details.
      required: [type, title, status]
      properties:
        type:
          type: string
          format: uri
          description: A URI under https://docs.szlholdings.com/errors/.
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
